
  
    <div class="container py-4">
      <table class="table" id="body-background">
        <tbody>
          <tr>
            <td>
              <div id="text-left-button" class="text-left">
                <button type="button" id="price-big-button" class="btn btn-warning" (click)="goToPrices()">
                  <strong>Zarządzanie Cenami</strong>
                </button>
              </div>
            </td>
            <td>
              <div id="text-left-button" class="text-left">
                <button type="button" id="price-center-button" class="btn btn-warning">
                  <strong></strong>
                </button>
              </div>
            </td>
            <td>
              <div id="text-left-button" class="text-left">
                <button type="button" id="price-right-button" class="btn btn-warning">
                  <strong></strong>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>

    </div>